In [3273]:
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join
import warnings
from functools import partial, reduce
import regex as re
warnings.filterwarnings('ignore')
path='/mnt/c/Users/xuan1/OneDrive/Documents/GitHub/Tools1_Final/acre_marine_data/Marine data'

In [3274]:
files = [f for f in listdir(path) if isfile(join(path, f))]
files.remove('.DS_Store')
files.remove('~$ACEH, INDONESIA - NOVEMBER 1874 - JULY 1875.xlsx')
files.remove('MACAO HURRICANE(5-6 AUGUST 1835).xls')

In [3275]:
one=[]
two=[]
three=[]
four=[]
five=[]

for i in files:
    
    xlsx=pd.ExcelFile(f'{path}/{str(i)}')
    sheets=xlsx.sheet_names
    if len(sheets)==1:
        one.append(i)
    
    elif len(sheets)==2:
        two.append([i,sheets])
        
    elif len(sheets)==3:
        three.append([i,sheets])
    
    elif len(sheets)==4:
        four.append([i,sheets])

    elif len(sheets)==5:
        five.append([i,sheets])
        
    
dfOne=[]
for i in range(len(one)):    
    dfOne.append(pd.read_excel(f'{path}/{one[i]}'))


dfTwo=[]
for i in range(len(two)):    
    dfTwo.append(pd.read_excel(f'{path}/{two[i][0]}',sheet_name=two[i][1][0]))
    dfTwo.append(pd.read_excel(f'{path}/{two[i][0]}',sheet_name=two[i][1][1]))    


dfThree=[]
for i in range(len(three)):    
    dfThree.append(pd.read_excel(f'{path}/{three[i][0]}',sheet_name=three[i][1][0]))
    dfThree.append(pd.read_excel(f'{path}/{three[i][0]}',sheet_name=three[i][1][1]))
    dfThree.append(pd.read_excel(f'{path}/{three[i][0]}',sheet_name=three[i][1][2]))
    


dfFour=[]
for i in range(len(four)):    
    dfFour.append(pd.read_excel(f'{path}/{four[i][0]}',sheet_name=four[i][1][0]))
    dfFour.append(pd.read_excel(f'{path}/{four[i][0]}',sheet_name=four[i][1][1]))
    dfFour.append(pd.read_excel(f'{path}/{four[i][0]}',sheet_name=four[i][1][2]))
    dfFour.append(pd.read_excel(f'{path}/{four[i][0]}',sheet_name=four[i][1][3]))
    

dfFive=[]
for i in range(len(five)):    
    dfFive.append(pd.read_excel(f'{path}/{five[i][0]}',sheet_name=five[i][1][0]))
    dfFive.append(pd.read_excel(f'{path}/{five[i][0]}',sheet_name=five[i][1][1]))
    dfFive.append(pd.read_excel(f'{path}/{five[i][0]}',sheet_name=five[i][1][2]))
    dfFive.append(pd.read_excel(f'{path}/{five[i][0]}',sheet_name=five[i][1][3]))
    dfFive.append(pd.read_excel(f'{path}/{five[i][0]}',sheet_name=five[i][1][4]))

In [3276]:
len(dfOne)+len(dfTwo)+len(dfThree)+len(dfFour)+len(dfFive)

210

In [3277]:
def NoZero(lsts):
    lst=[]
    for i in lsts:
        if len(i)>0:
            lst.append(i)
    return lst

In [3278]:
one=NoZero(dfOne)
two=NoZero(dfTwo)
three=NoZero(dfThree)
four=NoZero(dfFour)
five=NoZero(dfFive)

In [3279]:
len(one)+len(two)+len(three)+len(four)+len(five)

143

In [3280]:
for i in range(len(one)):
    one[i]=one[i].rename(columns=one[i].iloc[2]).drop(one[i].index[2])

In [3281]:
for i in range(len(two)):
    two[i]=two[i].rename(columns=two[i].iloc[2]).drop(two[i].index[2])

In [3282]:
for i in range(len(three)):
    three[i]=three[i].rename(columns=three[i].iloc[2]).drop(three[i].index[2])

In [3283]:
for i in range(len(four)):
    four[i]=four[i].rename(columns=four[i].iloc[2]).drop(four[i].index[2])

In [3284]:
for i in range(len(five)):
    five[i]=five[i].rename(columns=five[i].iloc[2]).drop(five[i].index[2])

In [3285]:
two[0].reset_index(drop=True)

,YEAR,MONTH,DAY,BAROMETER,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,"ACEH LIGHTHOUSE, NOVEMBER 1874 TO JULY 1875",NaN,NaN,NaN,NaN,14.65 METRES A.S.L.,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,BAROMETER REDUCED TO 0°C,NaN,NaN,NaN
2,NaN,NaN,NaN,6h,9h,15h,22h,NaN,NaN,NaN
3,1875,1,1,758.01,759.05,756.32,758.18,NaN,NaN,NaN
4,1875,1,2,757.94,758.92,756.25,758.49,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
118,1875,4,26,NaN,757.69,755.57,NaN,NaN,NaN,NaN
119,1875,4,27,NaN,757.57,755.57,NaN,NaN,NaN,NaN
120,1875,4,28,NaN,757.29,755.57,NaN,NaN,NaN,NaN
121,1875,4,29,NaN,757.77,755.07,NaN,NaN,NaN,NaN
122,1875,4,30,NaN,757.87,NaN,NaN,NaN,NaN,NaN

In [3286]:
two[0],two[0].columns=two[0][4:],two[0].iloc[3]

In [3287]:
two[16].reset_index(drop=True)

,YEAR,MONTH,DAY,HOUR,LATITUDE,N/S,LONGITUDE,E/W,BAROMETER,THERMOMETER,WIND DIRECTION
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1862,7,1,1200,40.05,S,34.07,E,747,10,WSW
3,1862,7,1,2000,NaN,NaN,NaN,NaN,754,NaN,SE
4,1862,7,2,400,NaN,NaN,NaN,NaN,758,16,W
5,1862,7,2,1200,40.06,S,34.2,E,760,16,W
6,1862,7,2,2000,NaN,NaN,NaN,NaN,761,NaN,WNW
7,1862,7,3,400,NaN,NaN,NaN,NaN,763,10,NW
8,1862,7,3,1200,41.4,S,33.01,E,760,12,NW
9,1862,7,3,2000,NaN,NaN,NaN,NaN,758,NaN,NW
10,1862,7,4,400,NaN,NaN,NaN,NaN,751,11,NW
11,1862,7,4,1200,43.53,S,29.37,E,747,11,NNW
12,1862,7,4,2000,NaN,NaN,NaN,NaN,744,NaN,NNW
13,1862,7,5,400,NaN,NaN,NaN,NaN,746,8,Calm
14,1862,7,5,1200,44.5,S,27.46,E,745,8,NNW
15,1862,7,5,2000,NaN,NaN,NaN,NaN,747,NaN,NNW
16,1862,7,6,400,NaN,NaN,NaN,NaN,751,4,W
17,1862,7,6,1200,45.2,S,27.39,E,753,NaN,W
18,1862,7,6,2000,NaN,NaN,NaN,NaN,755,NaN,NW
19,1862,7,7,400,NaN,NaN,NaN,NaN,752,9,NNW
20,1862,7,7,1200,45.06,S,27.14,E,751,10,NW
21,1862,7,7,2000,NaN,NaN,NaN,NaN,750,NaN,N
22,1862,7,8,400,NaN,NaN,NaN,NaN,747,7,NNW
23,1862,7,8,1200,45.5,S,25.21,E,749,7,WW
24,1862,7,8,2000,NaN,NaN,NaN,NaN,NaN,NaN,SSW
25,1862,7,9,400,NaN,NaN,NaN,NaN,751,7,NE
26,1862,7,9,1200,45.38,S,23.08,E,749,NaN,NW
27,1862,7,9,2000,NaN,NaN,NaN,NaN,749,8,NW
28,1862,7,10,400,NaN,NaN,NaN,NaN,741,8,N
29,1862,7,10,1200,46.09,S,19.47,E,739,8,NW
30,1862,7,10,2000,NaN,NaN,NaN,NaN,739,NaN,NW
31,1862,7,11,400,NaN,NaN,NaN,NaN,734,2,NW
32,1862,7,11,1200,46.2,S,18.49,E,741,3,W
33,1862,7,11,2000,NaN,NaN,NaN,NaN,743,NaN,W
34,1862,7,12,400,NaN,NaN,NaN,NaN,744,3,W
35,1862,7,12,1200,45.05,S,18.46,E,748,NaN,W
36,1862,7,12,2000,NaN,NaN,NaN,NaN,749,NaN,W
37,1862,7,13,400,NaN,NaN,NaN,NaN,745,5,WNW
38,1862,7,13,1200,43.08,S,18.23,E,743,NaN,SW
39,1862,7,13,2000,NaN,NaN,NaN,NaN,740,NaN,W
40,1862,7,14,400,NaN,NaN,NaN,NaN,753,6,WSW
41,1862,7,14,1200,40.35,S,16.45,E,753,7,W
42,1862,7,14,2000,NaN,NaN,NaN,NaN,753,NaN,SW
43,1862,7,15,400,NaN,NaN,NaN,NaN,755,6,SSW
44,1862,7,15,1200,38.08,S,13.42,E,744,8,SW
45,1862,7,15,2000,NaN,NaN,NaN,NaN,755,NaN,SW
46,1862,7,16,400,NaN,NaN,NaN,NaN,759,8,SSW
47,1862,7,16,1200,35.24,S,10.31,E,761,NaN,S
48,1862,7,16,2000,NaN,NaN,NaN,NaN,763,7,SE
49,1862,7,17,400,NaN,NaN,NaN,NaN,766,11,SE
50,1862,7,17,1200,32.45,S,7.22,E,767,12,SE

In [3288]:
two[16],two[16].columns=two[16][3:],two[16].iloc[2]

In [3289]:
def lstshrink(lsts):
    lst=[]
    for i in lsts:
        if len(i)>26:
            lst.append(i)
    return lst

In [3290]:
one=lstshrink(one)
two=lstshrink(two)
three=lstshrink(three)
four=lstshrink(four)
five=lstshrink(five)

In [3291]:
comp=one+two+three+four+five

In [3292]:
for i in range(len(comp)):
    comp[i].reset_index(inplace=True, drop=True)

In [3293]:
# def remove_dup_col(frame):
#     names = set()
#     icols = list()
#     for icol, name in enumerate(frame.columns):
#         if name not in names:
#             names.add(name)
#             icols.append(icol)
#     print(names)
#     frame=frame.iloc[:, icols]
#     return frame

In [3294]:
# for i in range(len(comp)):
#     comp[i]=remove_dup_col(comp[i])

In [3295]:
comp[3]

,YEAR,MONTH,DAY,HOUR,LATITUDE,N/S,LONGITUDE,E/W,BAROMETER RED. TO 0°C,NaN,SYMPIESOMETER,NaN,ANEROID BAROMETER I,NaN,ANEROID BAROMETER II,NaN,AIR TEMPERATURE,NaN,SEA TEMP,NaN
0,NaN,"FRIGATE PRINS FREDERIK DER NEDERLANDEN, FROM T...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FRENCH LINES,AVERAGE,FRENCH LINES,AVERAGE,FRENCH LINES,AVERAGE,FRENCH LINES,AVERAGE,AIR TEMP(C),AVERAGE,SEA TEMP(C),NaN
3,1854,8,22,2400,11.2,S,79.28,W,NaN,336.15,NaN,340.4,NaN,346.4,NaN,NaN,NaN,NaN,NaN,NaN
4,1854,8,23,2400,10.38,S,83.27,W,NaN,336.12,NaN,340,NaN,346.2,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
643,1854,12,2,730,NaN,NaN,NaN,NaN,334.03,NaN,334.55,NaN,345.48,NaN,336.65,NaN,27.4,NaN,28.7,NaN
644,1854,12,2,1100,NaN,NaN,NaN,NaN,334.41,NaN,334.92,NaN,345.84,NaN,336.8,NaN,NaN,NaN,NaN,NaN
645,1854,12,2,1700,NaN,NaN,NaN,NaN,333.8,NaN,334.29,NaN,345.8,NaN,336.25,NaN,27,NaN,28.6,NaN
646,1854,12,2,2130,MAKASSAR,NaN,NaN,NaN,334.5,334.06,335.19,334.6,345.89,345.53,337,336.87,28,27.5,28.6,NaN
647,1854,12,3,200,NaN,NaN,NaN,NaN,333.75,NaN,333.8,NaN,345.07,NaN,336.25,NaN,29.4,NaN,30.6,NaN

In [3296]:
def uniq_cols(frame):
    t=[]
    for i in range(len(frame)):
        t.append(frame[i].columns)
    r=set()   
    for j in t:
        for k in j:
            r.add(k)

    l=[]
    cols=[]
    for g in r:
        l.append(g)

    for h in l:
        if type(h)==str:
            cols.append(h)
    return cols

In [3297]:
"""
By calling this cell everytime you modify a column the variable barometer will be updated
and you can see which columns are left to be modified
"""

column=uniq_cols(comp)
column.sort()
r = re.compile("BAR*")
barometer = list(filter(r.match, column))

In [3298]:
column

[' BAROMETER 4 P.M.',
 '(Corrected for Temperature, Capacity and neutral point)',
 '12 P.M.',
 '5 P.M.',
 '6 A.M.',
 'AIR TEMP',
 'AIR TEMPERATURE',
 'AIR TEMPERATURE AT:',
 'ANEROID BAROMETER',
 'ANEROID BAROMETER A',
 'ANEROID BAROMETER I',
 'ANEROID BAROMETER II',
 'ATT THERM',
 'ATT.THERM',
 'ATTACHED',
 'ATTACHED THERMOMETER',
 'BAR.',
 'BAR. (PARIS LINES)',
 'BAROMETER',
 'BAROMETER ',
 'BAROMETER (INCHES)',
 'BAROMETER (INCHES) 15h',
 'BAROMETER (INCHES) 9h',
 'BAROMETER (UNCORRECTED)',
 'BAROMETER (inches)',
 'BAROMETER (mm)',
 'BAROMETER 10 A.M.',
 'BAROMETER 10h',
 'BAROMETER 16h',
 'BAROMETER 22h',
 'BAROMETER 3 P.M.',
 'BAROMETER 9 A.M.',
 'BAROMETER AT:',
 'BAROMETER CORR.',
 'BAROMETER RED. 0° C',
 'BAROMETER RED. TO 0°C',
 'BAROMETER REDUCED',
 'BAROMETER(INCHES)',
 'BAROMETER(MM)',
 'BAROMETER(UNCORRECTED)',
 'BAROMETER(mm)',
 'CHR',
 'CHRO',
 'D.R.',
 'DAY',
 'DEPTH',
 'DETACHED',
 'DR',
 'DRY AND WET THERMOMETERS, ASPIRATED',
 'DRY AND WET THERMOMETERS, FREE',
 'DRY BULB',
 'E',
 'E/W',
 'ELEVATED',
 'ESTIMATED',
 'FIRST OBSERVATION',
 'HOUR',
 'IN OPEN VERANDAH FACING NORTH',
 'INCHES',
 'LAST OBSERVATION',
 'LATITUDE',
 'LATITUDE DR',
 'LATITUDES',
 'LONGITUDE',
 'LONGITUDE DR',
 'LUNAR',
 'MEAN',
 'MEAN BAROMETER',
 'MEAN TEMPERATURE',
 'MERCURIAL BAROMETER',
 'MONTH',
 'N/S',
 'NO. OF',
 'OBS',
 'OBSERVED',
 'ON',
 'OPEN AIR DRY',
 'OPEN AIR WET',
 'PLACE',
 'PLUVIOMETER',
 'Pg. 383',
 'RAINALL (INCHES)',
 'RAINFALL',
 'RAINFALL (INCHES)',
 'REMARKS',
 'S',
 'SEA',
 'SEA BAROMETER B',
 'SEA BAROMETER INCHES',
 'SEA BAROMETER MM',
 'SEA TEMP',
 'SEA TEMP(F)',
 'SEA TEMP.',
 'SEA TEMPERATURE',
 'SEA TEMPERATURE AT:',
 'SEMPIESOMETER',
 'SEMPIESOMETER INCHES',
 'SEMPIESOMETER MM',
 'SHIP',
 "SHIP'S BAROMETER",
 'SST',
 'STATION',
 'SYDNEY, NEW SOUTH WALES.  OBS KEPT BY FREDERICK GOULDURN:',
 'SYMPESIOMETER',
 'SYMPIESOMETER',
 'SYMPIESOMETER PRESSURE',
 'SYMPIESOMETER TEMPERATURE',
 'TEMP.AIR',
 'TEMP.CAP.',
 'TEMP.SEA',
 'TEMP.WHEEL',
 'TEMPERATURE (C)',
 'TEMPERATURE (F)',
 'TEMPERATURE 1',
 'TEMPERATURE 2',
 'TEMPERATURE AIR',
 'TEMPERATURE IN SHADE 8h',
 'TEMPERATURE IN SHADE Sunset',
 'TEMPERATURE MAX',
 'TEMPERATURE MIN',
 'TEMPERATURE SEA',
 'TEMPERATURE ©',
 'TEMPERATURES',
 'THERM',
 'THERM.',
 'THERMOMETER',
 'THERMOMETER  (IN SHADE)',
 'THERMOMETER ( C )',
 'THERMOMETER (C)',
 'THERMOMETER (F)',
 'THERMOMETER (F) MAX 15h',
 'THERMOMETER (F) MAX 9h',
 'THERMOMETER (F) MIN 9h',
 'THERMOMETER (IN SHADE)',
 'THERMOMETER (UNDER COVER) ATTACHED ',
 'THERMOMETER (UNDER COVER) DETACHED',
 'THERMOMETER (in shade)',
 'THERMOMETER 10h',
 'THERMOMETER 2 P.M.',
 'THERMOMETER 22h',
 'THERMOMETER 3 P.M.',
 'THERMOMETER 6 A.M.',
 'THERMOMETER 9 A.M.',
 'THERMOMETER AIR',
 'THERMOMETER ATTACHED',
 'THERMOMETER DECK',
 'THERMOMETER IN STERN GALLEY IN SHADE',
 'THERMOMETER MAX',
 'THERMOMETER MIN',
 'THERMOMETER ON DECK IN SHADE',
 'THERMOMETER TIMEKEEPERS',
 'THERMOMETER WET',
 'THERMOMETER of Barometer',
 'THERMOMETER( C)',
 'THERMOMETER(F)',
 'THERMOMETER©',
 'WATER TEMP',
 'WATER TEMPERATURE',
 'WET BULB',
 'WIND',
 'WIND A.M.',
 'WIND DIR.',
 'WIND DIRECTION',
 'WIND FORCE',
 'WIND P.M.',
 'WINDS',
 'WSW',
 'YEAR']

In [3299]:
for h in range(len(comp)):
    comp[h].dropna(axis=1,how='all',inplace=True)

In [3300]:
for df in range(len(comp)):
    if 'BAROMETER(mm)' in comp[df].columns:
        comp[df]['BAROMETER']= comp[df]['BAROMETER(mm)'].apply(lambda x: x/25.4)
        comp[df].drop('BAROMETER(mm)',axis=1, inplace=True)

In [3301]:
b=['BAROMETER','BAROMETER(INCHES)']
for df in range(len(comp)):
    if 'BAROMETER(MM)' and 'BAROMETER(INCHES)' in comp[df].columns:
        comp[df]['BAROMETER']= comp[df]['BAROMETER(MM)'].apply(lambda x: x/25.4)
        comp[df].drop('BAROMETER(MM)',axis=1, inplace=True)
        comp[df]['BAROMETER'] = comp[df][b].apply(lambda row: ','.join(row.values.astype(str)), axis=1)
        comp[df]['BAROMETER'] = comp[df]['BAROMETER'].apply(lambda x:x.split('nan'))
        comp[df]['BAROMETER'] = comp[df]['BAROMETER'].apply(lambda x:x[0] if len (x[0])>0 else x[-1])
        comp[df]['BAROMETER'] = comp[df]['BAROMETER'].apply(lambda x:x.strip(','))
        comp[df].drop('BAROMETER(INCHES)',axis=1, inplace=True)

In [3302]:
for df in range(len(comp)):
    if 'BAROMETER (mm)' in comp[df].columns:
        comp[df]['BAROMETER']= comp[df]['BAROMETER (mm)'].apply(lambda x: x/25.4)
        comp[df].drop('BAROMETER (mm)',axis=1, inplace=True)

In [3303]:
comp[87].drop('BAROMETER (inches)',axis=1, inplace=True)

In [3304]:
column=uniq_cols(comp)
column.sort()
r = re.compile("BAR*")
barometer = list(filter(r.match, column))

In [3305]:
for df in range(len(comp)):
    if 'BAR' in comp[df].columns:
        comp[df].rename(columns={'BAR': 'BAROMETER'}, inplace=True)
        
    elif 'BAR.' in comp[df].columns:
        comp[df].rename(columns={'BAR.': 'BAROMETER'}, inplace=True)
        
        
    elif 'BAR. (PARIS LINES)' in comp[df].columns:
        comp[df].rename(columns={'BAR. (PARIS LINES)': 'BAROMETER'}, inplace=True)
        
        
    elif 'BAROMETER ' in comp[df].columns:
        comp[df].rename(columns={'BAROMETER ': 'BAROMETER'}, inplace=True)
        
        
    elif 'BAROMETER (INCHES)' in comp[df].columns:
        comp[df].rename(columns={'BAROMETER (INCHES)': 'BAROMETER'}, inplace=True)
        
        
        
    
    elif 'BAROMETER (UNCORRECTED)' in comp[df].columns:
        comp[df].rename(columns={'BAROMETER (UNCORRECTED)': 'BAROMETER'}, inplace=True)

In [3306]:
column=uniq_cols(comp)
column.sort()
r = re.compile("BAR*")
barometer = list(filter(r.match, column))

In [3307]:
for df in range(len(comp)):
    if 'BAROMETER (INCHES) 9h' in comp[df].columns:
        comp[df].rename(columns={'BAROMETER (INCHES) 9h': 'BAROMETER'}, inplace=True)
        comp[df].drop('BAROMETER (INCHES) 15h',axis=1, inplace=True)

In [3308]:
column=uniq_cols(comp)
column.sort()
r = re.compile("BAR*")
barometer = list(filter(r.match, column))

In [3309]:
for df in range(len(comp)):
    if 'BAROMETER 10 A.M.' in comp[df].columns:
        comp[df].rename(columns={'BAROMETER 10 A.M.': 'BAROMETER'}, inplace=True)
        comp[df]['BAROMETER']=comp[df]['BAROMETER'].apply(lambda x: x/25.4)
        comp[df].drop(' BAROMETER 4 P.M.',axis=1, inplace=True)

In [3310]:
column=uniq_cols(comp)
column.sort()
r = re.compile("BAR*")
barometer = list(filter(r.match, column))

In [3311]:
for df in range(len(comp)):
    if 'BAROMETER 10h' and 'BAROMETER 22h' in comp[df].columns:
        if 'BAROMETER 16h' not in comp[df].columns:
            comp[df]['BAROMETER']=comp[df][['BAROMETER 10h','BAROMETER 22h']].mean(axis=1)
            comp[df].drop('BAROMETER 10h',axis=1, inplace=True)
            comp[df].drop('BAROMETER 22h',axis=1, inplace=True)
        else:
            comp[df]['BAROMETER']=comp[df][['BAROMETER 10h','BAROMETER 22h','BAROMETER 16h']].mean(axis=1)
            comp[df].drop('BAROMETER 10h',axis=1, inplace=True)
            comp[df].drop('BAROMETER 22h',axis=1, inplace=True)
            comp[df].drop('BAROMETER 16h',axis=1, inplace=True)

In [3312]:
column=uniq_cols(comp)
column.sort()
r = re.compile("BAR*")
barometer = list(filter(r.match, column))

In [3313]:
for df in range(len(comp)):
    if 'BAROMETER 9 A.M.' in comp[df].columns:
        comp[df].drop('BAROMETER 9 A.M.',axis=1, inplace=True)
        comp[df].drop('BAROMETER 3 P.M.',axis=1, inplace=True)

In [3314]:
column=uniq_cols(comp)
column.sort()
r = re.compile("BAR*")
barometer = list(filter(r.match, column))

In [3315]:
for df in range(len(comp)):
    if 'BAROMETER AT:' in comp[df].columns:
        comp[df].rename(columns={'BAROMETER AT:': 'BAROMETER'}, inplace=True)

In [3316]:
column=uniq_cols(comp)
column.sort()
r = re.compile("BAR*")
barometer = list(filter(r.match, column))

In [3317]:
for df in range(len(comp)):
    if 'BAROMETER CORR.' in comp[df].columns:
        comp[df].rename(columns={'BAROMETER CORR.': 'BAROMETER'}, inplace=True)
    
    elif 'BAROMETER RED. 0° C' in comp[df].columns:
        comp[df].rename(columns={'BAROMETER RED. 0° C': 'BAROMETER'}, inplace=True)
        comp[df]['BAROMETER']=comp[df]['BAROMETER'].apply(lambda x: x/25.4)
    
    elif 'BAROMETER RED. TO 0°C' in comp[df].columns:
        comp[df].rename(columns={'BAROMETER RED. TO 0°C': 'BAROMETER'}, inplace=True)
        comp[df]['BAROMETER']=comp[df]['BAROMETER'].apply(lambda x: None if type(x)!= float else x)
        comp[df]['BAROMETER']=comp[df]['BAROMETER'].apply(lambda x: x/25.4)
    
    elif 'BAROMETER REDUCED' in comp[df].columns:
        if 'BAROMETER(UNCORRECTED)' not in comp[df].columns:
            comp[df].drop('BAROMETER REDUCED',axis=1, inplace=True)
        
        elif 'BAROMETER(UNCORRECTED)' in comp[df].columns:
            comp[df].rename(columns={'BAROMETER(UNCORRECTED)': 'BAROMETER'}, inplace=True)
            comp[df].drop('BAROMETER REDUCED',axis=1, inplace=True)

In [3318]:
column=uniq_cols(comp)
column.sort()
r = re.compile("ANEROID*")
barometer = list(filter(r.match, column))

In [3319]:
for df in range(len(comp)):
    if 'ANEROID BAROMETER' in comp[df].columns:
        if df==26:
            comp[df].rename(columns={'ANEROID BAROMETER': 'BAROMETER'}, inplace=True)
            comp[df]['BAROMETER']=comp[df]['BAROMETER'].apply(lambda x: None if x>200 else x)
        elif df==90:
            comp[df].rename(columns={'ANEROID BAROMETER': 'BAROMETER'}, inplace=True)
            comp[df]['BAROMETER']=comp[df]['BAROMETER'].apply(lambda x: None if type(x)!=float else x)

In [3320]:
column=uniq_cols(comp)
column.sort()
r = re.compile("ANEROID*")
barometer = list(filter(r.match, column))

In [3321]:
for df in range(len(comp)):
    if 'ANEROID BAROMETER A' in comp[df].columns:
        comp[df].drop('SEA BAROMETER INCHES',axis=1, inplace=True)
        comp[df].drop('SEA BAROMETER MM',axis=1, inplace=True)
        comp[df].drop('SEA BAROMETER B',axis=1, inplace=True)
        comp[df].drop('SEMPIESOMETER INCHES',axis=1, inplace=True)
        comp[df].drop('SEMPIESOMETER MM',axis=1, inplace=True)
        comp[df].rename(columns={'ANEROID BAROMETER A': 'BAROMETER'}, inplace=True)
        comp[df]['BAROMETER']=comp[df]['BAROMETER'].apply(lambda x: x/25.4)

In [3322]:
column=uniq_cols(comp)
column.sort()
r = re.compile("ANEROID*")
barometer = list(filter(r.match, column))

In [3323]:
for df in range(len(comp)):
    if 'ANEROID BAROMETER I' in comp[df].columns:
        comp[df].drop('ANEROID BAROMETER I',axis=1, inplace=True)
        comp[df].drop('ANEROID BAROMETER II',axis=1, inplace=True)

In [3324]:
column=uniq_cols(comp)
column.sort()
r = re.compile("ANEROID*")
barometer = list(filter(r.match, column))

In [3325]:
column

['12 P.M.',
 '5 P.M.',
 '6 A.M.',
 'AIR TEMP',
 'AIR TEMPERATURE',
 'AIR TEMPERATURE AT:',
 'ANEROID BAROMETER',
 'ATT THERM',
 'ATT.THERM',
 'ATTACHED',
 'ATTACHED THERMOMETER',
 'BAROMETER',
 'CHR',
 'CHRO',
 'D.R.',
 'DAY',
 'DEPTH',
 'DETACHED',
 'DR',
 'DRY AND WET THERMOMETERS, ASPIRATED',
 'DRY AND WET THERMOMETERS, FREE',
 'DRY BULB',
 'E',
 'E/W',
 'ELEVATED',
 'ESTIMATED',
 'FIRST OBSERVATION',
 'HOUR',
 'IN OPEN VERANDAH FACING NORTH',
 'INCHES',
 'LAST OBSERVATION',
 'LATITUDE',
 'LATITUDE DR',
 'LATITUDES',
 'LONGITUDE',
 'LONGITUDE DR',
 'LUNAR',
 'MEAN',
 'MEAN BAROMETER',
 'MEAN TEMPERATURE',
 'MERCURIAL BAROMETER',
 'MONTH',
 'N/S',
 'NO. OF',
 'OBS',
 'OBSERVED',
 'ON',
 'OPEN AIR DRY',
 'OPEN AIR WET',
 'PLACE',
 'PLUVIOMETER',
 'Pg. 383',
 'RAINALL (INCHES)',
 'RAINFALL',
 'RAINFALL (INCHES)',
 'REMARKS',
 'S',
 'SEA',
 'SEA TEMP',
 'SEA TEMP(F)',
 'SEA TEMP.',
 'SEA TEMPERATURE',
 'SEA TEMPERATURE AT:',
 'SEMPIESOMETER',
 'SHIP',
 "SHIP'S BAROMETER",
 'SST',
 'STATION',
 'SYDNEY, NEW SOUTH WALES.  OBS KEPT BY FREDERICK GOULDURN:',
 'SYMPESIOMETER',
 'SYMPIESOMETER',
 'SYMPIESOMETER PRESSURE',
 'SYMPIESOMETER TEMPERATURE',
 'TEMP.AIR',
 'TEMP.CAP.',
 'TEMP.SEA',
 'TEMP.WHEEL',
 'TEMPERATURE (C)',
 'TEMPERATURE (F)',
 'TEMPERATURE 1',
 'TEMPERATURE 2',
 'TEMPERATURE AIR',
 'TEMPERATURE IN SHADE 8h',
 'TEMPERATURE IN SHADE Sunset',
 'TEMPERATURE MAX',
 'TEMPERATURE MIN',
 'TEMPERATURE SEA',
 'TEMPERATURE ©',
 'TEMPERATURES',
 'THERM',
 'THERM.',
 'THERMOMETER',
 'THERMOMETER  (IN SHADE)',
 'THERMOMETER ( C )',
 'THERMOMETER (C)',
 'THERMOMETER (F)',
 'THERMOMETER (F) MAX 15h',
 'THERMOMETER (F) MAX 9h',
 'THERMOMETER (F) MIN 9h',
 'THERMOMETER (IN SHADE)',
 'THERMOMETER (UNDER COVER) ATTACHED ',
 'THERMOMETER (UNDER COVER) DETACHED',
 'THERMOMETER (in shade)',
 'THERMOMETER 10h',
 'THERMOMETER 2 P.M.',
 'THERMOMETER 22h',
 'THERMOMETER 3 P.M.',
 'THERMOMETER 6 A.M.',
 'THERMOMETER 9 A.M.',
 'THERMOMETER AIR',
 'THERMOMETER ATTACHED',
 'THERMOMETER DECK',
 'THERMOMETER IN STERN GALLEY IN SHADE',
 'THERMOMETER MAX',
 'THERMOMETER MIN',
 'THERMOMETER ON DECK IN SHADE',
 'THERMOMETER TIMEKEEPERS',
 'THERMOMETER WET',
 'THERMOMETER of Barometer',
 'THERMOMETER( C)',
 'THERMOMETER(F)',
 'THERMOMETER©',
 'WATER TEMP',
 'WATER TEMPERATURE',
 'WET BULB',
 'WIND',
 'WIND A.M.',
 'WIND DIR.',
 'WIND DIRECTION',
 'WIND FORCE',
 'WIND P.M.',
 'WINDS',
 'WSW',
 'YEAR']

In [3326]:
for df in range(len(comp)):
    if "SHIP'S BAROMETER" in comp[df].columns:
        comp[df].drop("SHIP'S BAROMETER",axis=1, inplace=True)

In [3327]:
for df in range(len(comp)):
    if "BAROMETER"  not in comp[df].columns:
        comp[df]["BAROMETER"]=None

In [3328]:
#merge = partial(pd.merge, on=['YEAR','MONTH','DAY'], how='outer')
#reduce(merge, dfs).tail()

In [3329]:
#comp[0].merge(comp[2],how='outer',on=['YEAR','MONTH','DAY','BAROMETER'])

**Temperature columns adjustment**

In [3330]:
#drop first two nan rows for all data frames
for df in comp:
    df.drop([0,1], axis=0, inplace=True)

In [3331]:
def temp_uniq(comp):
    column=uniq_cols(comp)
    
    t = re.compile("THER*")
    ther_list = set(filter(t.search,column))
    ther_list

    te = re.compile("TEMP*")
    temp_list = set(filter(te.search,column))
    temp_list
    return set.union(temp_list,ther_list)

temp_uniq(comp)

{'AIR TEMP',
 'AIR TEMPERATURE',
 'AIR TEMPERATURE AT:',
 'ATT THERM',
 'ATT.THERM',
 'ATTACHED THERMOMETER',
 'DRY AND WET THERMOMETERS, ASPIRATED',
 'DRY AND WET THERMOMETERS, FREE',
 'MEAN TEMPERATURE',
 'SEA TEMP',
 'SEA TEMP(F)',
 'SEA TEMP.',
 'SEA TEMPERATURE',
 'SEA TEMPERATURE AT:',
 'SYMPIESOMETER TEMPERATURE',
 'TEMP.AIR',
 'TEMP.CAP.',
 'TEMP.SEA',
 'TEMP.WHEEL',
 'TEMPERATURE (C)',
 'TEMPERATURE (F)',
 'TEMPERATURE 1',
 'TEMPERATURE 2',
 'TEMPERATURE AIR',
 'TEMPERATURE IN SHADE 8h',
 'TEMPERATURE IN SHADE Sunset',
 'TEMPERATURE MAX',
 'TEMPERATURE MIN',
 'TEMPERATURE SEA',
 'TEMPERATURE ©',
 'TEMPERATURES',
 'THERM',
 'THERM.',
 'THERMOMETER',
 'THERMOMETER  (IN SHADE)',
 'THERMOMETER ( C )',
 'THERMOMETER (C)',
 'THERMOMETER (F)',
 'THERMOMETER (F) MAX 15h',
 'THERMOMETER (F) MAX 9h',
 'THERMOMETER (F) MIN 9h',
 'THERMOMETER (IN SHADE)',
 'THERMOMETER (UNDER COVER) ATTACHED ',
 'THERMOMETER (UNDER COVER) DETACHED',
 'THERMOMETER (in shade)',
 'THERMOMETER 10h',
 'THERMOMETER 2 P.M.',
 'THERMOMETER 22h',
 'THERMOMETER 3 P.M.',
 'THERMOMETER 6 A.M.',
 'THERMOMETER 9 A.M.',
 'THERMOMETER AIR',
 'THERMOMETER ATTACHED',
 'THERMOMETER DECK',
 'THERMOMETER IN STERN GALLEY IN SHADE',
 'THERMOMETER MAX',
 'THERMOMETER MIN',
 'THERMOMETER ON DECK IN SHADE',
 'THERMOMETER TIMEKEEPERS',
 'THERMOMETER WET',
 'THERMOMETER of Barometer',
 'THERMOMETER( C)',
 'THERMOMETER(F)',
 'THERMOMETER©',
 'WATER TEMP',
 'WATER TEMPERATURE'}

In [3332]:
def isNAN(val):
    return val!=val

In [3333]:
#columns with 'temp' or 'ther' in the name has name issue while reading the files
col_issue = set()
for df in range(len(comp)):
    intersection = list(ther_list & set(comp[df].columns))+list(temp_list & set(comp[df].columns))
    if intersection == 0:
        pass
    else:
        for i in range(len(intersection)):
            if isinstance(list(comp[df][intersection[i]])[0],str) == True:
            #if isNAN(list(comp[df][intersection[i]])[0]) == False:
                col_issue.add(df)

col_issue

temp_col_all = temp_uniq(comp)
#data frame with NaN columns after temprature column
nan_issue=set()
for df in range(len(comp)):
    for i in range(len(comp[df].columns)):
        if comp[df].columns[i] in temp_col_all:
            if i < len(comp[df].columns)-1:
                if isNAN(comp[df].columns[i+1]):
                    nan_issue.add(df)
nan_issue

cols_iss_all = set.union(col_issue, nan_issue)
cols_iss_all

{0,
 1,
 3,
 4,
 8,
 11,
 12,
 21,
 26,
 30,
 33,
 34,
 35,
 41,
 42,
 43,
 45,
 46,
 47,
 48,
 49,
 54,
 64,
 67,
 69,
 77,
 78,
 80,
 85,
 88,
 98}

In [3334]:
for df in cols_iss_all:
    print("df:",df,comp[df])

df: 0      YEAR MONTH  DAY  HOUR      PLACE BAROMETER     ATTACHED     DETACHED  \
2     NaN   NaN  NaN   NaN        NaN       NaN  THERMOMETER  THERMOMETER
3    1838    12   13  1000  LOODIANAH    29.294           63           62
4    1838    12   13  1200  LOODIANAH     29.26         64.5           64
5    1838    12   13  1600  LOODIANAH    29.274           64           64
6    1838    12   14  1000  LOODIANAH     29.36           63           63
..    ...   ...  ...   ...        ...       ...          ...          ...
719  1840    12   22  1300   PESHAWUR        29           54         56.5
720  1840    12   22  1400   PESHAWUR    28.986         55.5           57
721  1840    12   22  1500   PESHAWUR     28.96           56           58
722  1840    12   22  1600   PESHAWUR    28.955           57           59
723  1840    12   22  1700   PESHAWUR    28.955         56.5           59

       BAROMETER  THERMOMETER
2    HEIGHT (FT)  HEIGHT (FT)
3            NaN          NaN
4            NaN          NaN
5            NaN          NaN
6            NaN          NaN
..           ...          ...
719          NaN          NaN
720          NaN          NaN
721          NaN          NaN
722          NaN          NaN
723          NaN          NaN

[722 rows x 10 columns]
df: 1      YEAR MONTH  DAY BAROMETER    NaN    NaN    NaN THERMOMETER  NaN  NaN  NaN
2     NaN   NaN  NaN        8h    12h    16h    20h          8h  12h  16h  20h
3    1859     5    1     30.28   30.2  30.16  30.19          63   64   62   62
4    1859     5    2     30.09  30.21  30.22  30.27          62   62   62   61
5    1859     5    3     30.28  30.25  30.14  30.17          61   61   62   60
6    1859     5    4     30.16  30.21  30.24  30.28          66   70   70   67
..    ...   ...  ...       ...    ...    ...    ...         ...  ...  ...  ...
207  1859    11   21     30.55   30.5  30.48  30.51          50   59   48   47
208  1859    11   22     30.56  30.58  30.59   30.6          58   60   57   52
209  1859    11   23     30.58   30.6  30.57   30.6          58   60   58   54
210  1859    11   24     30.58   30.6   30.6   30.6          56   58   57   54
211  1859    11   25     30.73  30.68  30.72  30.74          56   58   56   53

[210 rows x 11 columns]
df: 3      YEAR MONTH  DAY  HOUR  LATITUDE  N/S LONGITUDE  E/W  BAROMETER      NaN  \
2     NaN   NaN  NaN   NaN       NaN  NaN       NaN  NaN        NaN  AVERAGE
3    1854     8   22  2400      11.2    S     79.28    W        NaN   336.15
4    1854     8   23  2400     10.38    S     83.27    W        NaN   336.12
5    1854     8   24  2400      9.57    S        85    W        NaN   336.39
6    1854     8   25  2400      9.34    S      90.1    W        NaN   336.52
..    ...   ...  ...   ...       ...  ...       ...  ...        ...      ...
643  1854    12    2   730       NaN  NaN       NaN  NaN  13.150787      NaN
644  1854    12    2  1100       NaN  NaN       NaN  NaN  13.165748      NaN
645  1854    12    2  1700       NaN  NaN       NaN  NaN  13.141732      NaN
646  1854    12    2  2130  MAKASSAR  NaN       NaN  NaN  13.169291   334.06
647  1854    12    3   200       NaN  NaN       NaN  NaN  13.139764      NaN

    SYMPIESOMETER      NaN      NaN      NaN AIR TEMPERATURE      NaN  \
2    FRENCH LINES  AVERAGE  AVERAGE  AVERAGE     AIR TEMP(C)  AVERAGE
3             NaN    340.4    346.4      NaN             NaN      NaN
4             NaN      340    346.2      NaN             NaN      NaN
5             NaN    340.4    346.7      NaN             NaN      NaN
6             NaN      340    346.2      NaN             NaN      NaN
..            ...      ...      ...      ...             ...      ...
643        334.55      NaN      NaN      NaN            27.4      NaN
644        334.92      NaN      NaN      NaN             NaN      NaN
645        334.29      NaN      NaN      NaN              27      NaN
646        335.19    334.6   345.53   336.87              28     27.5
647         333.8      NaN      NaN      NaN            29.4      NaN

        SEA TEMP  NaN
2    SEA TEMP(C)  NaN
3            NaN  NaN
4            NaN  NaN
5            NaN  NaN
6            NaN  NaN
..           ...  ...
643         28.7  NaN
644          NaN  NaN
645         28.6  NaN
646         28.6  NaN
647         30.6  NaN

[646 rows x 18 columns]
df: 4      YEAR MONTH  DAY  HOUR    LATITUDE  N/S LONGITUDE  E/W BAROMETER AIR TEMP  \
2     NaN   NaN  NaN   NaN         NaN  NaN       NaN  NaN    INCHES  REAUMUR
3    1843     1    3  1200       15.41    N  19.16.46    W       NaN       18
4    1843     1    4  1200       13.25    N     19.53    W       NaN     19.5
5    1843     1    5  1200    10.54.17    N  20.34.25    W       NaN       20
6    1843     1    6   700         NaN  NaN       NaN  NaN     29.95     20.5
..    ...   ...  ...   ...         ...  ...       ...  ...       ...      ...
393  1843     6   16  1200    16.21.14    S  38.38.50    E      30.1     20.2
394  1843     6   16  1800         NaN  NaN       NaN  NaN       NaN       20
395  1843     6   17   600         NaN  NaN       NaN  NaN     30.07       19
396  1843     6   17   900         NaN  NaN       NaN  NaN     30.07     18.4
397  1843     6   17  1330  MOZAMBIQUE  NaN       NaN  NaN     30.07     18.8

    WATER TEMP       WIND
2      REAUMUR  DIRECTION
3           19         NE
4         20.2        NaN
5         20.4        NaN
6           21        NaN
..         ...        ...
393         21         SW
394       20.9        NaN
395       20.9        NaN
396       20.8         SW
397         20        NaN

[396 rows x 12 columns]
df: 8      YEAR MONTH  DAY LATITUDE  N/S LONGITUDE  E/W  BAROMETER      NaN  \
2     NaN   NaN  NaN      NaN  NaN       NaN  NaN  31.496063  1200.00
3    1851     8    1    52.09    N      3.28    E        NaN      NaN
4    1851     8    2    51.39    N      2.09    E        NaN      NaN
5    1851     8    3    51.14    N      1.52    E  30.201575   768.02
6    1851     8    4    50.49    N      0.46    E  30.259055   768.40
..    ...   ...  ...      ...  ...       ...  ...        ...      ...
104  1851    11   10    11.41    S    103.39    E  29.994488   762.20
105  1851    11   11     8.13    S    104.15    E  29.883465   758.92
106  1851    11   12     6.53    S    103.54    E  29.888976   758.90
107  1851    11   13     6.33    S    104.38    E  29.881102   758.62
108  1851    11   14      NaN    S       NaN    E  29.915748   759.49

         NaN      NaN THERMOMETER (C)    NaN     NaN      NaN     NaN    SEA
2    1600.00  2000.00         AVERAGE  800.0  1200.0  1600.00  2000.0  TEMP.
3        NaN      NaN             NaN    NaN     NaN      NaN     NaN    NaN
4        NaN      NaN             NaN    NaN     NaN      NaN     NaN    NaN
5     767.48   767.93          767.64   18.4    18.9    19.13    18.5  16.35
6     768.30   769.54           768.7   18.6    19.6    20.25    18.8  16.35
..       ...      ...             ...    ...     ...      ...     ...    ...
104   760.20   760.41          761.17   24.7    25.1    25.00     NaN    NaN
105   758.82   759.00          758.95   26.3    26.9    27.50     NaN    NaN
106   757.10   757.72          758.23   26.2    27.0    28.50     NaN    NaN
107   757.35   758.70          758.41   26.6    28.4    28.30     NaN    NaN
108   757.64   759.76          759.19   27.2    27.8    28.00     NaN    NaN

[107 rows x 17 columns]
df: 11      YEAR MONTH DAY  HOUR  LATITUDE  N/S  LONGITUDE  E/W BAROMETER  \
2    1849     8   5  1200   5.51.10    S  106.48.40    E       NaN
3    1849     8   6  1200   3.52.40    S  106.28.10    E       NaN
4    1849     8   7  1200       NaN  NaN        NaN  NaN       NaN
5    1849     8   8  1200   2.00.13    S        NaN  NaN       NaN
6    1849     8   9  1200   0.08.02    S  105.14.25    E       NaN
..    ...   ...  ..   ...       ...  ...        ...  ...       ...
263  1850     6   7  1200  49.13.10    N    7.00.47    W     29.79
264  1850     6   8  1200  50.12.20    N    3.36.00    W     30.05
265  1850     6   9  1200  50.29.45    N    0.33.00    W     30.24
266  1850     6  10  1200  50.38.36    N    0.35.15    E     30.09
267  1850     6  11  1200  51.04.22    N    1.24.11    E     29.88

    THERMOMETER(F)  NaN
2              NaN  NaN
3               83  NaN
4              NaN  NaN
5               83  NaN
6               85  NaN
..             ...  ...
263             59  NaN
264             60  NaN
265             62  NaN
266             60  NaN
267             64  NaN

[266 rows x 11 columns]
df: 12      YEAR MONTH  DAY  LATITUDE  N/S LONGITUDE  E/W BAROMETER     NaN  \
2     NaN   NaN  NaN       NaN  NaN       NaN  NaN    9 A.M.  9 P.M.
3    1835     1    1  47.31.39    N  52.45.27    W     29.19    29.2
4    1835     1    2  47.31.39    N  52.45.27    W     29.64   29.78
5    1835     1    3  47.31.39    N  52.45.27    W     29.81   29.98
6    1835     1    4  47.31.39    N  52.45.27    W     29.76   29.92
..    ...   ...  ...       ...  ...       ...  ...       ...     ...
179  1835     6   26  47.31.39    N  52.45.27    W     29.67   29.83
180  1835     6   27  47.31.39    N  52.45.27    W     29.88   29.98
181  1835     6   28  47.31.39    N  52.45.27    W     30.04   30.11
182  1835     6   29  47.31.39    N  52.45.27    W     30.11      30
183  1835     6   30  47.31.39    N  52.45.27    W     29.86    29.9

    THERMOMETER  NaN
2           MAX  MIN
3            44   15
4            19   10
5            19   12
6            21    5
..          ...  ...
179          57   40
180          67   47
181          73   45
182          67   47
183          61   48

[182 rows x 11 columns]
df: 21      YEAR MONTH  DAY HOUR         PLACE LATITUDE  N/S LONGITUDE  E/W  \
2     NaN   NaN  NaN  NaN           NaN      NaN  NaN       NaN  NaN
3    1822     3    8  NaN  SIERRA LEONE      NaN  NaN       NaN  NaN
4    1822     3   10   AM  SIERRA LEONE      NaN  NaN       NaN  NaN
5    1822     3   10   PM  SIERRA LEONE      NaN  NaN       NaN  NaN
6    1822     3   10   PM  SIERRA LEONE      NaN  NaN       NaN  NaN
..    ...   ...  ...  ...           ...      ...  ...       ...  ...
354  1823    10   31   AM     DRONTHEIM      NaN  NaN       NaN  NaN
355  1823    11    1   AM     DRONTHEIM      NaN  NaN       NaN  NaN
356  1823    11    2   AM     DRONTHEIM      NaN  NaN       NaN  NaN
357  1823    11    3   AM     DRONTHEIM      NaN  NaN       NaN  NaN
358  1823    11   10   AM     DRONTHEIM      NaN  NaN       NaN  NaN

    BAROMETER TEMPERATURE 1 TEMPERATURE 2 MEAN TEMPERATURE            NaN
2         NaN             1             2      TEMPERATURE            NaN
3        29.9            80           NaN              NaN            NaN
4      29.865            80          80.8             80.4            NaN
5      29.835          81.6          82.7            82.15            NaN
6       29.85          81.2          81.2             81.2  BY LAMP LIGHT
..        ...           ...           ...              ...            ...
354     29.58          42.7          43.8            43.25            NaN
355     29.78          40.5          40.5             40.5            NaN
356     29.87          39.8          41.2             40.5            NaN
357      29.9          40.3          40.3             40.3            NaN
358     30.44            30           NaN              NaN            NaN

[357 rows x 14 columns]
df: 26      YEAR MONTH  DAY  HOUR LATITUDE  N/S LONGITUDE  E/W AIR TEMPERATURE AT:  \
2     NaN   NaN  NaN   NaN      NaN  NaN       NaN  NaN            MIDNIGHT
3    1870    12   21  1200    40.04    N     69.59    W                  40
4    1870    12   22  1200    38.28    N     66.03    W                  45
5    1870    12   23  1200    37.49    N     64.09    W                  54
6    1870    12   24  1200    38.05    N     61.13    W                  60
..    ...   ...  ...   ...      ...  ...       ...  ...                 ...
120  1871     4   17  1200    30.18    N     80.07    W                  71
121  1871     4   18  1200    32.09    N     79.05    W                  74
122  1871     4   19  1200    34.21    N     74.52    W                  69
123  1871     4   20  1200     38.2    N      74.1    W                  54
124  1871     4   21  1200    40.27    N     73.52    W                  54

      NaN     NaN SEA TEMPERATURE AT:   NaN     NaN BAROMETER    NaN     NaN  \
2    NOON  8 P.M.            MIDNIGHT  NOON  8 P.M.  MIDNIGHT   NOON  8 P.M.
3      42      41                  50    54      56      30.1  30.14   30.12
4      48      47                  51    57      58     30.11  30.18   30.25
5      65      60                  68    61      65     30.05   30.1   30.11
6      64      60                  68    67      68      29.4  29.35    29.3
..    ...     ...                 ...   ...     ...       ...    ...     ...
120    77      73                  81    81      80      29.9   29.9    29.9
121    78      73                  78    80      80      29.8  29.82    29.9
122    75      66                  80    81      62      29.9  29.92    29.8
123    62      55                  51    52      51     29.66  29.58   29.58
124    70      56                  52    51      51     29.55  29.56    29.7

          WINDS                                                NaN
2           NaN                                                NaN
3     WNW to SW                                                NaN
4     NW to NNE                                                NaN
5      NW, W, S                                                NaN
6    NW, W, WNW                                                NaN
..          ...                                                ...
120   NE to NNW                                                NaN
121     W to SW                                                NaN
122          SW  From 7.45pm to 7.55pm, passed out of the gulf ...
123         SSW  during which time the water temperature change...
124      S to W                                                NaN

[123 rows x 19 columns]
df: 30     YEAR MONTH  DAY  HOUR LATITUDE  N/S LONGITUDE  E/W      NaN  \
2    NaN   NaN  NaN   NaN      NaN  NaN       NaN  NaN  1600.00
3   1860     8   29  1200    16.47    N     72.27    E    29.78
4   1860     8   30  1200    14.13    N     73.36    E    29.77
5   1860     8   31  1200    11.45    N      74.4    E    29.78
6   1860     9    1  1200      9.2    N     76.13    E    29.81
..   ...   ...  ...   ...      ...  ...       ...  ...      ...
81  1860    11   15  1200    15.48    N     59.08    E    29.95
82  1860    11   16  1200    16.41    N     62.24    E    29.93
83  1860    11   17  1200    17.27    N     65.33    E    29.90
84  1860    11   18  1200     18.1    N     68.47    E    29.86
85  1860    11   19  1200    18.47    N     72.07    E    29.86

   ANEROID BAROMETER      NaN AIR TEMP     NaN  NaN  NaN WET BULB     NaN  \
2               1000  1600.00      600  1300.0  MAX  MIN      600  1300.0
3              30.02    29.92       82    84.0   84   80       77    78.0
4              29.98    29.89       80    81.0   81   77       76    75.0
5              30.01    29.90       78    81.0   82   76       75    77.0
6              30.04    29.92       78    80.0   81   74       73    76.0
..               ...      ...      ...     ...  ...  ...      ...     ...
81              30.2    30.10       78    78.0   78   78       71    72.0
82             30.19    30.10       79    81.0   81   79       71    73.0
83             30.18    30.08       78    84.0   84   78       72    73.0
84              30.1    30.01       80    83.0   83   80       70    72.0
85             30.11    30.01       79    81.0   81   79       70    72.0

      SEA BAROMETER
2   TEMP.      None
3      83      None
4      82      None
5      81      None
6      80      None
..    ...       ...
81     79      None
82     80      None
83     80      None
84     80      None
85     80      None

[84 rows x 19 columns]
df: 33      YEAR MONTH DAY  HOUR LATITUDE  N/S LONGITUDE  E/W BAROMETER  \
2    1849     8  17   900      NaN  NaN       NaN  NaN    30.127
3    1849     8  17  1200    37.59    N       NaN  NaN       NaN
4    1849     8  17  1500      NaN  NaN       NaN  NaN    30.127
5    1849     8  17  2100      NaN  NaN       NaN  NaN    30.156
6    1849     8  18   900      NaN  NaN       NaN  NaN    30.102
..    ...   ...  ..   ...      ...  ...       ...  ...       ...
236  1852    10  17  2100      NaN  NaN       NaN  NaN    29.805
237  1852    10  18   900      NaN  NaN       NaN  NaN     29.87
238  1852    10  18  1500      NaN  NaN       NaN  NaN    29.712
239  1852    10  18  2100      NaN  NaN       NaN  NaN     29.77
240  1852    10  19   900      NaN  NaN       NaN  NaN     29.77

    THERMOMETER ATTACHED THERMOMETER AIR  \
2                     76            76.3
3                    NaN             NaN
4                     76            79.2
5                     81            81.3
6                   78.8            79.4
..                   ...             ...
236                  NaN            82.2
237                  NaN            84.2
238                  NaN            82.5
239                  NaN              81
240                  NaN            89.7

                                             NaN
2    BETWEEN NEW YORK AND VALPARAISO, VIA PANAMA
3                                            NaN
4                                            NaN
5                                            NaN
6                                            NaN
..                                           ...
236                                          NaN
237                                          NaN
238                                          NaN
239                                          NaN
240                                          NaN

[239 rows x 12 columns]
df: 34       NaN    NaN  NaN   NaN     NaN     NaN          NaN                  NaN  \
2    YEAR  MONTH  DAY  HOUR  MINUTE  SECOND  THERMOMETER  BAROMETER CORRECTED
3    1852      8   17     3      52       0          NaN                 27.4
4    1852      8   17     3      54       0          NaN                 26.4
5    1852      8   17     3      54       0           70                26.42
6    1852      8   17     3      55       0          NaN                 25.8
..    ...    ...  ...   ...     ...     ...          ...                  ...
513  1852     11   10    15      14      30          NaN                 12.4
514  1852     11   10    15      15       0          NaN                12.24
515  1852     11   10    15      16       0          NaN                12.24
516  1852     11   10    15      17       0          NaN                  NaN
517  1852     11   10    15      19       0          NaN                12.94

            NaN DRY AND WET THERMOMETERS, ASPIRATED  ...                NaN  \
2    HEIGHT ASL                                 DRY  ...  TENSION OF VAPOUR
3          2440                                 NaN  ...                NaN
4          3470                                 NaN  ...                NaN
5          3450                                 NaN  ...                NaN
6          4110                                 NaN  ...                NaN
..          ...                                 ...  ...                ...
513       22640                                -8.9  ...                NaN
514       22930                                 NaN  ...                NaN
515       22930                                 NaN  ...                NaN
516         NaN                                -6.5  ...                NaN
517       21640                                -5.3  ...                NaN

                   NaN        NaN                           NaN  \
2    RELATIVE HUMIDITY  DEW-POINT  TEMPERATURE CORR. FOR CHANGE
3                  NaN        NaN                          62.8

In [3335]:
for df in range(len(comp)):
    if 'ATTACHED' and 'DETACHED' in comp[df].columns:
        if comp[df]['ATTACHED'][2] == 'THERMOMETER' and comp[df]['DETACHED'][2] == 'THERMOMETER':
            print(df)

0

In [3336]:
comp[0].drop('THERMOMETER', axis=1, inplace=True)
comp[0]['TEMPERATURE'] = comp[0].loc[3:,['ATTACHED', 'DETACHED']].mean(axis=1)
comp[0].drop(columns=['ATTACHED', 'DETACHED'], axis=1, inplace=True)

In [3337]:
comp[1]['TEMPERATURE']=comp[1].loc[3:,'THERMOMETER':].mean(axis=1)
comp[1].drop(comp[1].columns[-5:-1],axis=1,inplace=True)

In [3338]:
comp[12]['TEMPERATURE']=comp[12].iloc[1:,[-2,-1]].mean(axis=1)
comp[12].drop(comp[12].columns[-3:-1],axis=1,inplace=True)

In [3339]:
comp[46]['TEMPERATURE']=comp[46].loc[3:,['THERMOMETER']].mean(axis=1)
comp[46].drop(columns=['THERMOMETER'], axis=1, inplace=True)

In [3340]:
comp[47].iloc[1:,[9]]=comp[47].iloc[1:,[9]].apply(lambda x: x*1.8+32)
comp[47]['TEMPERATURE']=comp[47].loc[3:,['THERMOMETER']].mean(axis=1)
comp[47].drop(columns=['THERMOMETER'], axis=1, inplace=True)

In [3341]:
comp[48].iloc[1:,[9]]=comp[48].iloc[1:,[9]].apply(lambda x: x*1.8+32)
comp[48]['TEMPERATURE']=comp[48].loc[3:,['THERMOMETER']].mean(axis=1)
comp[48].drop(columns=['THERMOMETER'], axis=1, inplace=True)

In [3342]:
comp[49].iloc[1:,[5]]=comp[49].iloc[1:,[5]].apply(lambda x: x*1.8+32)
comp[49]['TEMPERATURE']=comp[49].loc[3:,['THERMOMETER']].mean(axis=1)
comp[49].drop(columns=['THERMOMETER'], axis=1, inplace=True)

In [3343]:
comp[54]['TEMPERATURE']=comp[54].loc[3:,['THERMOMETER']]
comp[54].drop(comp[54].columns[9:12],axis=1,inplace=True)

In [3344]:
comp[67]['TEMPERATURE']=comp[67].loc[3:,'THERMOMETER':].mean(axis=1)
comp[67].drop(comp[67].columns[-5:-1],axis=1,inplace=True)

In [3345]:
#count the number of NAN cells under Thermometer to decide keep the column or not
comp[78]
sum(isNAN(comp[78]['THERMOMETER']))

44

There are 44 NAN Thermometer instance out of 13137 rows which is good.

In [3346]:
comp[78].rename(columns={'THERMOMETER': 'TEMPERATURE'}, inplace=True)
comp[78]=comp[78].loc[:,comp[78].columns[:-1]]

In [3347]:
comp[88]['TEMPERATURE']=comp[88].iloc[1:,[5,6,7]].mean(axis=1)
comp[88].drop(comp[88].columns[5:7],axis=1,inplace=True)

In [3348]:
dic = dict()

for df in range(len(comp)):
    for name in comp[df].columns:
        if name in temp_col_all:
            dic[name]=[]
            dic[name].append(df)
            break
dic

{'THERMOMETER 10h': [2],
 'AIR TEMPERATURE': [64],
 'AIR TEMP': [30],
 'THERMOMETER©': [5],
 'THERMOMETER MIN': [6],
 'THERMOMETER (C)': [8],
 'TEMPERATURE MAX': [10],
 'THERMOMETER(F)': [66],
 'TEMPERATURE IN SHADE 8h': [19],
 'TEMPERATURE 1': [21],
 'THERMOMETER': [96],
 'AIR TEMPERATURE AT:': [26],
 'THERMOMETER ATTACHED': [33],
 'DRY AND WET THERMOMETERS, ASPIRATED': [34],
 'TEMPERATURE ©': [36],
 'SEA TEMPERATURE': [39],
 'THERMOMETER MAX': [81],
 'TEMPERATURES': [43],
 'THERMOMETER (UNDER COVER) ATTACHED ': [44],
 'THERMOMETER (F)': [98],
 'TEMPERATURE AIR': [86],
 'SEA TEMP(F)': [57],
 'THERMOMETER (IN SHADE)': [60],
 'THERMOMETER  (IN SHADE)': [61],
 'ATT THERM': [62],
 'SEA TEMP.': [70],
 'TEMPERATURE (C)': [69],
 'THERMOMETER DECK': [73],
 'ATT.THERM': [91],
 'THERM': [79],
 'THERMOMETER ( C )': [82],
 'THERMOMETER TIMEKEEPERS': [85],
 'THERMOMETER (in shade)': [87],
 'THERMOMETER (F) MAX 9h': [89]}

In [3349]:
comp[2]['TEMPERATURE']=comp[2].iloc[:,[3,4]].mean(axis=1)
comp[2].drop(columns=['THERMOMETER 10h','THERMOMETER 22h'],axis=1,inplace=True)

In [3350]:
comp[64]['TEMPERATURE']=comp[64].iloc[1:,[12,13,14]].mean(axis=1)
comp[64]['TEMPERATURE']=comp[64]['TEMPERATURE'].apply(lambda x: x*1.8+32)
comp[64].drop(comp[64].columns[12:15],axis=1,inplace=True)

In [3351]:
comp[30]['TEMPERATURE']=comp[30].iloc[1:,[11,12,13,14,17]].mean(axis=1)
comp[30].drop(comp[30].columns[11:15],axis=1,inplace=True)
comp[30].drop('SEA',axis=1,inplace=True)

In [3352]:
comp[5].rename(columns={'THERMOMETER©': 'TEMPERATURE'}, inplace=True)
comp[5]['TEMPERATURE']=comp[5]['TEMPERATURE'].apply(lambda x: x*1.8+32)

In [3353]:
comp[6]['TEMPERATURE']=comp[6].iloc[:,[4,5]].mean(axis=1)
comp[6]['TEMPERATURE']=comp[6]['TEMPERATURE'].apply(lambda x: x*1.8+32)
comp[6].drop(columns=['THERMOMETER MIN','THERMOMETER MAX'],axis=1,inplace=True)

In [3354]:
comp[8].rename(columns={'THERMOMETER (C)': 'BAROMETER'}, inplace=True)
comp[8]['TEMPERATURE']=comp[8].iloc[3:,[12,13,14,15,16]].mean(axis=1)
comp[8]['TEMPERATURE']=comp[8]['TEMPERATURE'].apply(lambda x: x*1.8+32)
comp[8].drop(comp[8].columns[12:17],axis=1,inplace=True)

In [3355]:
comp[10]['TEMPERATURE']=comp[10].loc[:,'TEMPERATURE MAX':].mean(axis=1)
comp[10]['TEMPERATURE']=comp[10]['TEMPERATURE'].apply(lambda x: x*1.8+32)
comp[10].drop(comp[10].columns[-4:-1],axis=1,inplace=True)

In [3356]:
comp[66].rename(columns={'THERMOMETER(F)': 'TEMPERATURE'}, inplace=True)

In [3357]:
comp[19]['TEMPERATURE']=comp[19].iloc[:,[5,6]].mean(axis=1)
comp[19].drop(columns=['TEMPERATURE IN SHADE 8h','TEMPERATURE IN SHADE Sunset'],axis=1,inplace=True)

In [3358]:
comp[21].rename(columns={'MEAN TEMPERATURE': 'TEMPERATURE'}, inplace=True)
comp[21].drop(columns=['TEMPERATURE 1','TEMPERATURE 2'],axis=1,inplace=True)

In [3359]:
comp[96].rename(columns={'THERMOMETER': 'TEMPERATURE'}, inplace=True)
comp[96]['TEMPERATURE']=comp[96]['TEMPERATURE'].apply(lambda x: x*1.8+32)

In [3360]:
comp[26]['TEMPERATURE']=comp[26].iloc[1:,[8,9,10,11,12,13]].mean(axis=1)
comp[26].drop(comp[26].columns[8:14],axis=1,inplace=True)

In [3361]:
comp[33]['TEMPERATURE']=comp[33].iloc[:,[-2,-3]].mean(axis=1)
comp[33].drop(columns=['THERMOMETER ATTACHED','THERMOMETER AIR'],axis=1,inplace=True)

In [3362]:
comp[34]['TEMPERATURE']=comp[34].iloc[1:,[6,9,14,15]].mean(axis=1)
#####################################################################

In [3363]:
comp[36]['TEMPERATURE ©']=comp[36]['TEMPERATURE ©'].apply(lambda x: x*1.8+32)
comp[36]['TEMPERATURE']=comp[36].iloc[:,[4,5]].mean(axis=1)
comp[36].drop(comp[36].columns[4:6],axis=1,inplace=True)

In [3364]:
comp[39].rename(columns={'SEA TEMPERATURE': 'TEMPERATURE'}, inplace=True)
comp[39]['TEMPERATURE']=comp[39]['TEMPERATURE'].apply(lambda x: x*1.8+32)

In [3365]:
comp[43]['TEMPERATURE']=comp[43].iloc[1:,[10,11,12]].mean(axis=1)
comp[43]['TEMPERATURE']=comp[43]['TEMPERATURE'].apply(lambda x: x*1.8+32)
comp[43].drop(comp[43].columns[10:-1],axis=1,inplace=True)

In [3366]:
comp[44]['TEMPERATURE']=comp[44].iloc[:,[4,5]].mean(axis=1)
comp[44].drop(comp[44].columns[4:6],axis=1,inplace=True)

In [3367]:
comp[98]['TEMPERATURE']=comp[98].iloc[1:,[13,14,15,16,17,18]].mean(axis=1)
comp[98].drop(comp[98].columns[13:19],axis=1,inplace=True)

In [3368]:
comp[86]['TEMPERATURE']=comp[86].loc[:,'TEMPERATURE AIR':'TEMPERATURE SEA'].mean(axis=1)
comp[86]['TEMPERATURE']=comp[86]['TEMPERATURE'].apply(lambda x: x*1.8+32)
comp[86].drop(columns=['TEMPERATURE AIR','TEMPERATURE SEA'],axis=1,inplace=True)

In [3369]:
comp[57].rename(columns={'SEA TEMP(F)': 'TEMPERATURE'}, inplace=True)

In [3370]:
comp[60].rename(columns={'THERMOMETER (IN SHADE)': 'TEMPERATURE'}, inplace=True)

In [3371]:
comp[61].rename(columns={comp[61].columns[-1]: 'TEMPERATURE'}, inplace=True)

In [3372]:
comp[62].rename(columns={'ATT THERM': 'TEMPERATURE'}, inplace=True)

In [3373]:
comp[70]['TEMPERATURE']=comp[70].loc[1:,['SEA TEMP.','THERMOMETER']].mean(axis=1)
comp[70]['TEMPERATURE']=comp[70]['TEMPERATURE'].apply(lambda x: x*1.8+32)
comp[70].drop(columns=['SEA TEMP.','THERMOMETER'],axis=1,inplace=True)

In [3374]:
te=comp[69].iloc[1:,[-1]]
comp[69].drop(comp[69].columns[-6:],axis=1,inplace=True)
comp[69]['TEMPERATURE']=te
comp[69]['TEMPERATURE']=comp[69]['TEMPERATURE'].apply(lambda x: x*1.8+32)

In [3375]:
for i in [71,72,73]:
    comp[i]['TEMPERATURE']=comp[i].loc[:,'THERMOMETER DECK':].mean(axis=1)
    comp[i].drop(comp[i].columns[-5:-1],axis=1,inplace=True)

In [3376]:
comp[91]['TEMPERATURE']=comp[91].loc[:,'ATT.THERM':'TEMP.WHEEL'].mean(axis=1)
comp[91].drop(comp[91].columns[5:10],axis=1,inplace=True)

In [3377]:
comp[79].rename(columns={'THERM': 'TEMPERATURE'}, inplace=True)

In [3378]:
comp[82].rename(columns={'THERMOMETER ( C )': 'TEMPERATURE'}, inplace=True)
comp[82]['TEMPERATURE']=comp[82]['TEMPERATURE'].apply(lambda x: x*1.8+32)

In [3379]:
comp[85]['TEMPERATURE']=comp[85].loc[:,'THERMOMETER TIMEKEEPERS':'THERMOMETER IN STERN GALLEY IN SHADE'].mean(axis=1)
comp[85].drop(comp[85].columns[-4:-1],axis=1,inplace=True)

In [3380]:
comp[87].rename(columns={'THERMOMETER (in shade)': 'TEMPERATURE'}, inplace=True)

In [3381]:
comp[89]['TEMPERATURE']=comp[89].loc[:,'THERMOMETER (F) MAX 9h':'THERMOMETER (F) MIN 9h'].mean(axis=1)
comp[89]['TEMPERATURE']=comp[89]['TEMPERATURE'].apply(lambda x: x*1.8+32)
comp[89].drop(comp[89].columns[4:7],axis=1,inplace=True)

In [3382]:
temp_uniq(comp)

{'AIR TEMP',
 'AIR TEMPERATURE',
 'ATT.THERM',
 'ATTACHED THERMOMETER',
 'DRY AND WET THERMOMETERS, ASPIRATED',
 'DRY AND WET THERMOMETERS, FREE',
 'SEA TEMP',
 'SEA TEMP.',
 'SEA TEMPERATURE',
 'SYMPIESOMETER TEMPERATURE',
 'TEMPERATURE',
 'TEMPERATURE AIR',
 'TEMPERATURE SEA',
 'TEMPERATURES',
 'THERM.',
 'THERMOMETER',
 'THERMOMETER (F)',
 'THERMOMETER AIR',
 'THERMOMETER ATTACHED',
 'THERMOMETER MAX',
 'THERMOMETER MIN',
 'THERMOMETER ON DECK IN SHADE',
 'THERMOMETER WET',
 'THERMOMETER of Barometer',
 'THERMOMETER( C)',
 'THERMOMETER(F)',
 'WATER TEMP',
 'WATER TEMPERATURE'}

In [3383]:
s=set()
for df in range(len(comp)):
    for name in comp[df].columns:
        if name in temp_col_all:
            s.add(df)
s

{3,
 4,
 9,
 11,
 13,
 14,
 15,
 16,
 23,
 24,
 25,
 27,
 28,
 32,
 34,
 35,
 37,
 38,
 40,
 41,
 42,
 45,
 50,
 51,
 52,
 53,
 58,
 63,
 68,
 77,
 80,
 81,
 83,
 86,
 90,
 92,
 93,
 94,
 95}

In [3384]:
comp[3]['TEMPERATURE']=comp[3].loc[3:,'AIR TEMPERATURE':'SEA TEMP'].mean(axis=1)
comp[3]['TEMPERATURE']=comp[3]['TEMPERATURE'].apply(lambda x: x*1.8+32)
comp[3].drop(comp[3].columns[-5:-1],axis=1,inplace=True)

In [3385]:
comp[4]['TEMPERATURE']=comp[4].loc[3:,'AIR TEMP':'WATER TEMP'].mean(axis=1)
comp[4]['TEMPERATURE']=comp[4]['TEMPERATURE'].apply(lambda x: x*1.8+32)
comp[4].drop(comp[4].columns[9:11],axis=1,inplace=True)

In [3386]:
comp[11].rename(columns={'THERMOMETER(F)': 'TEMPERATURE'}, inplace=True)

In [3387]:
for i in [9,13,14,15]:
    comp[i]['TEMPERATURE']=comp[i].loc[:,'AIR TEMPERATURE':'SEA TEMPERATURE'].mean(axis=1)
    comp[i]['TEMPERATURE']=comp[i]['TEMPERATURE'].apply(lambda x: x*1.8+32)
    comp[i].drop(columns=['AIR TEMPERATURE','SEA TEMPERATURE'],axis=1,inplace=True)

In [3388]:
comp[16]['TEMPERATURE']=comp[16].loc[:,'AIR TEMP':].mean(axis=1)
comp[16].drop(comp[16].columns[-3:-1],axis=1,inplace=True)

In [3389]:
for i in [23,24,25,27,28,37,38,52,53,63,92,93,94,95]:
    comp[i].rename(columns={'THERMOMETER': 'TEMPERATURE'}, inplace=True)

In [3390]:
comp[25]['TEMPERATURE']=comp[25]['TEMPERATURE'].apply(lambda x: x*1.8+32)
comp[28]['TEMPERATURE']=comp[28]['TEMPERATURE'].apply(lambda x: x*1.8+32)

In [3391]:
comp[32]['TEMPERATURE']=comp[32].loc[:,'THERMOMETER ATTACHED':'THERMOMETER WET'].mean(axis=1)
comp[32].drop(comp[32].columns[6:9],axis=1,inplace=True)

In [3392]:
comp[35]['TEMPERATURE']=comp[35].loc[:,'AIR TEMPERATURE':'ATTACHED THERMOMETER'].mean(axis=1)
comp[35].drop(comp[35].columns[9:13],axis=1,inplace=True)

In [3393]:
for i in [40,50,81]:
    comp[i]['TEMPERATURE']=comp[i].loc[3:,'THERMOMETER MAX':].mean(axis=1)
    comp[i].drop(columns=['THERMOMETER MIN','THERMOMETER MAX'],axis=1,inplace=True)

In [3394]:
comp[41]['TEMPERATURE']=comp[41].iloc[1:,[-2,-3]].mean(axis=1)
comp[41].drop(comp[41].columns[-4:-2],axis=1,inplace=True)

In [3395]:
comp[42]['TEMPERATURE']=comp[42].iloc[1:,[-2,-3,-4]].mean(axis=1)
comp[42]['TEMPERATURE']=comp[42]['TEMPERATURE'].apply(lambda x: x*1.8+32)
comp[42].drop(comp[42].columns[-5:-2],axis=1,inplace=True)

In [3396]:
comp[45]['TEMPERATURE']=comp[45].iloc[1:,[-2,-3,-4]].mean(axis=1)
comp[45].drop(comp[45].columns[-5:-2],axis=1,inplace=True)

In [3397]:
comp[51]['TEMPERATURE']=comp[51].loc[:,'TEMPERATURE AIR':'TEMPERATURE SEA'].mean(axis=1)
comp[51].drop(columns=['TEMPERATURE AIR','TEMPERATURE SEA'],axis=1,inplace=True)

In [3398]:
comp[58]['THERMOMETER( C)']=comp[58]['THERMOMETER( C)'].apply(lambda x: x*1.8+32)
comp[58]['TEMPERATURE']=comp[58].loc[:,'THERMOMETER(F)':'THERMOMETER( C)'].mean(axis=1)
comp[58].drop(columns=['THERMOMETER(F)','THERMOMETER( C)'],axis=1,inplace=True)

In [3399]:
comp[63].drop(columns=['DRY BULB','WET BULB'],axis=1,inplace=True)

In [3400]:
comp[68]['TEMPERATURE']=comp[68].iloc[1:,[-3,-1]].mean(axis=1)
comp[68]['TEMPERATURE']=comp[68]['TEMPERATURE'].apply(lambda x: x*1.8+32)
comp[68].drop(columns=['SEA TEMP.','THERMOMETER'],axis=1,inplace=True)

In [3401]:
comp[77]['TEMPERATURE']=comp[77].loc[:,'ATT.THERM':'SEA TEMP'].mean(axis=1)
comp[77].drop(comp[77].columns[-5:-2],axis=1,inplace=True)

In [3402]:
comp[80]['TEMPERATURE']=comp[80].iloc[1:,[4,5,6]].mean(axis=1)
comp[80].drop(comp[80].columns[4:7],axis=1,inplace=True)

In [3403]:
comp[83]['TEMPERATURE']=comp[83].loc[:,'THERMOMETER (F)':].mean(axis=1)
comp[83].drop(columns=['THERMOMETER (F)','THERMOMETER ON DECK IN SHADE'],axis=1,inplace=True)

In [3404]:
comp[90]['TEMPERATURE']=comp[90].loc[:,'ATT.THERM':'SEA TEMP'].mean(axis=1)
comp[90].drop(columns=['ATT.THERM','THERM.','AIR TEMP','SEA TEMP'],axis=1,inplace=True)

In [3405]:
for i in [92,93,94,95]:
    comp[i]['TEMPERATURE']=comp[i]['TEMPERATURE'].apply(lambda x: x*1.8+32)

In [3406]:
temp_uniq(comp)

{'DRY AND WET THERMOMETERS, ASPIRATED',
 'DRY AND WET THERMOMETERS, FREE',
 'SYMPIESOMETER TEMPERATURE',
 'TEMPERATURE',
 'THERMOMETER of Barometer'}

#####